.fake{
    background-image: url("https://www.teahub.io/photos/full/35-351823_goku-black-background-dragon-ball-z-wallpaper-pc.jpg");
    background-size: 100%;
    zoom: 150%;
}
.body2{
    background-image: url("https://www.teahub.io/photos/full/35-351823_goku-black-background-dragon-ball-z-wallpaper-pc.jpg");
    background-size: 100%;
    zoom: 150%;
}
.natty{
    background-image: url("https://www.teahub.io/photos/full/35-351823_goku-black-background-dragon-ball-z-wallpaper-pc.jpg");
    background-size: 107%;
    zoom: 150%;
}
h1{
    font-family: 'Verdana';
    color: white;
}
#alt{
    font-family: 'Verdana';
    color: white;
}
#pes{
    font-family: 'Verdana';
    color: white;
}
#imc{
    font-family: 'Verdana';
    color: white;
}
#resultadoo{
    font-family: 'Verdana';
    color: white;
}
#txt{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.javaS{
    display: flexbox;
    text-align: center;
    color: white;
}
.code-box{
    color: white;
    font-size: 75%;
}
.code{
    color: white;
    text-align: left;
    font-size: 70%;
}
#botaoj{
    background-image: linear-gradient(chocolate, yellow);
    color: white;
    border-radius: 10px;
    border-color: aliceblue;
    height: 30px;
    width: 100px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#botaov{
    background-image: linear-gradient(chocolate, yellow);
    color: white;
    border-radius: 10px;
    border-color: aliceblue;
    height: 30px;
    width: 100px;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
#calcularimc{
    background-image: linear-gradient(chocolate, yellow);
    color: white;
    border-radius: 10px;
    border-color: aliceblue;
    height: 30px;
    width: 100px;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
#titulov{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
